.job-row-img {
	margin-right: 10;
	width: 32px;
	height: 32px;
}
	
.job-row-text {
    font-weight: bold;
    font-size: 150%;
    display: table-cell;
    vertical-align: middle;
}

.joblist-trash-icon {
	background-image: url(../../../img/trash.svg);
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}

.joblist-trash-button {
	background-color: white;
	background-image: none;
}

.joblist-trash-button.x-btn-over {
    background-color: white;
    background-image: none;
}

.joblist-trash-button .x-btn-button {
	background-color: white;
}

.joblist-trash-button span.x-btn-inner {
    color: black;
}