.job-row-img {
	margin-right: 10;
	width: 32px;
	height: 32px;
}
	
.job-row-text {
    font-weight: bold;
    font-size: 150%;
    display: table-cell;
    vertical-align: middle;
}

.joblist-trash-icon {
	background-image: url(../../../img/trash.svg);
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}

.joblist-error-icon {
    background-image: url(../../../img/exclamation.png);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

.joblist-info-icon {
    background-image: url(../../../img/info.png);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

.joblist-inline-button {
	background-color: white;
	background-image: none;
}

.joblist-inline-button.x-btn-over {
    background-color: white;
    background-image: none;
}

.joblist-inline-button .x-btn-button {
	background-color: white;
}

.joblist-inline-button span.x-btn-inner {
    color: black;
}

#eavl-jobtitle-editable {
	display: inline-block;
    height: 40px;
    margin-top: 2px;
}

#eavl-jobtitle-editable:hover {
    text-decoration: underline;
}

#eavl-jobtitle-editable:hover:after {
	content: url("../../../img/edit-plain.png");
    position: relative;
    top: -5px;
}

#eavl-jobtitle-editparent {
	width: 600px;
	display: inline-block;
}

#eavl-jobtitle-editparent  input {
	width: 600px;
    font-size: 32px;
    font-weight: bold;
}
