.text-empty-container {
    width: 90%;
    position:absolute;
    height: 90%;
    text-align: center;
}

.text-empty-container-inner {
    text-align: center;
    height : 160px;
    position:relative;
    top:50%;
    margin-top:-50px;
}


.pdp-empty-container {
    width: 90%;
    position:absolute;
    height: 90%;
    text-align: center;
}

.pdp-empty-container-inner {
    text-align: center;
    height : 160px;
    position:relative;
    top:50%;
    margin-top:-50px;
}

.pdp-empty-container-inner img {
	margin-bottom: 5px;
}

.pdp-uom-container {
    width: 99%;
    position:absolute;
    height: 99%;
    text-align: center;
}

.pdp-uom-container-inner {
    text-align: center;
    height : 160px;
    position:relative;
    top:50%;
    margin-top:-50px;
}

.pdp-uom-container-inner .pdp-uom-text {
	display: inline-block;
	font-size: 300%;
	font-weight: bold;
	top: -30px;
	position: relative;
	margin-right: 15px;
}

.pdp-uom-container-inner img {
    display: inline-block;
}


.pdp-convert-container {
    width: 99%;
    position:absolute;
    height: 99%;
    text-align: center;
}

.pdp-convert-container-inner {
    text-align: center;
    position:relative;
    top:50%;
    margin-top:-25px;
    
}

.pdp-convert-container-inner img {
	cursor: pointer;
}

.uom-edit-text label {
	font-size: 150%;
}

.uom-edit-text .x-field {
	margin-left: 12px;
}

.uom-edit-text .x-field .x-form-field {
	font-size: 18px;
}

.pdp-uom-container-inner .pdp-uom-info-name {
	font-weight: bold;
}

.pdp-uom-container-inner .pdp-uom-info-scale {
	font-weight: bold;
}

.pdp-uom-info-container p {
	color: gray;
}

.pdp-uom-info-container .pdp-uom-container-inner div {
	cursor: pointer;
	right: 0px;
	width: 90px;
	border: 1px;
	border-color:  rgb(18,109,175);
	border-style: solid;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
    font: bold 12px/16px helvetica,arial,verdana,sans-serif;
}

.pdp-uom-info-container img {
	width: 32px;
	height: 16px;
	position: relative;
	top: 2px;
	margin-right: 10px;
}