.pdtf .x-tagfield {
	min-height: 45px;
}

.pdtf-popup-icon {
    margin-right: 10px;
    margin-top: 10px;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.pdtf-popup-text {
    font-weight: bold;
    font-size: 150%;
    padding-top: 8px;
    display: table-cell;
    vertical-align: middle;
}

.pdtf-tag-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-top: 2px;
	margin-right: 2px;
}

.pdtf li.x-tagfield-item div.x-tagfield-item-text {
	display: inline-block;
}

.pdtf li.x-tagfield-item div.x-tagfield-item-close {
    margin-top: 3px;
}

.pdtf li.x-tagfield-item {
    font-size: 16px;
    font-weight: bold;
	background-color: white;
	padding: 0 1px 0 2px!important;
	color: black;
}

.pdtf:not(.x-item-disabled) .x-tagfield-item:hover {
    background-color: white !important;
    border: 1px solid #e2e2e2 !important;
    color: black;
}

.pdtf .x-tagfield  {
	overflow: hidden;
}


