.pdl-row-img {
	margin-right: 10;
	width: 32px;
	height: 32px;
}
	
.pdl-row-text {
    font-weight: bold;
    font-size: 150%;
    display: table-cell;
    vertical-align: middle;
}

.pdl-uom-parent {
	cursor: pointer;
	margin-top: 10px;
}

.pdl-uom-parent-ok {
    color: #aaaaaa;
}

.pdl-uom-parent-action {
    color: #ff0000;
    font-weight: bold;
    text-decoration: underline;
}

.pdl .x-grid-empty {
	padding: 8px;
}
