.pdtf li.x-tagfield-item {
    font-size: 16px;
    font-weight: bold;
	background-image: url(../../../img/tick.png);
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-color: #c1ddf1;
	padding: 0 1px 0 21px!important;
}

.pdtf:not(.x-item-disabled) .x-tagfield-item:hover {
    background-color: #c1ddf1 !important;
    background-image: url(../../../img/tick.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    border: 1px solid #e2e2e2 !important;
}

.pdtf .x-tagfield  {
	overflow: hidden;
}

/* We dont want selection - we disable selection effects via CSS */
.x-field:not(.x-item-disabled) li.x-tagfield-item.x-tagfield-item-selected {
	background-image: url(../../../img/tick.png) !important;
    background-size: 16px 16px !important;
    background-repeat: no-repeat !important;
    background-color: #c1ddf1 !important;
    color: gray !important;
    border: 1px solid #e2e2e2 !important;
}

/* We dont want selection - we disable selection effects via CSS */
.x-field:not(.x-item-disabled) li.x-tagfield-item.x-tagfield-item-selected .x-tagfield-item-close {
	background-position: 0 0;
}
