/*
#workflow-container
    #top-bar-container
        #top-bar-logo
    
    #arrows-container
        #arrows-internal
            #back
            #next
            
        #titles
            <li>
            
    #text-container
        #text-internal
            <h1>
            <p>        
*/

#workflow-container {
	text-align: center;
}

#top-bar-container {
	text-align: center;
	height: 50px;
	background-color: #1368AE;
	position: fixed;
	width: 100%;
}

#top-bar-logo {
	width: 50px;
	height: 50px;
	background-image: url(../../../img/logo.png);
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: -15px;
}

#top-bar-container ul {
    padding: 12px 0 0;
    display: inline-block;
}

#top-bar-container li a {
    color: #aaaaaa;
    display: block;
    font-size: 11px;
    height: 28px;
    text-decoration: none;
    padding: 0 14px;
}

#top-bar-container li {
    cursor: pointer;
    display: block;
    float: left;
}

#top-bar-container li:hover a, #top-bar-container li.selected a {
    color: #ffffff;
}

#top-bar-container li.selected a {
	border-bottom-style: solid;
	border-bottom-width: 7px;
	border-color: #ffffff;
}

/* ----------------- */

#arrows-container {
	background: url(../../../img/line.png) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	height: 90px;
	left: 50%;
	width: 800px;
	margin: 60px 0 0 -400px;
	position: absolute;
	z-index: 10;
}

#arrows-internal {
	width: 100%;
	height: 100%;
}

#text-container {
    position: relative;
	text-align: center;
	display: inline-block;
	margin: 60px 0 0 0;
	z-index: 20;
}

#text-internal {
	margin-left: auto;
    margin-right: auto;
    display: inline-block;
}


#text-internal h1 {
	background: none repeat scroll 0 0 #ffffff;
	font-size: 55px;
	letter-spacing: -3px;
	padding: 0 10px;
}

#text-internal h2 {
    font-size: 14px;
    margin: 0 0 0 0;
    padding: 0 10px 26px;
    text-align: center;
}

#titles li {
	display: none;
	font-size: 20px;
	right: -5px;
	
}

#back, #next {
	width: 70px;
	height: 70px;
	background-image: url(../../../img/arrow.png); 
	background-repeat: repeat;
	background-color: rgba(255, 255, 255 ,1);
	padding-top: 58px;
	overflow: visible;
	position: absolute;
	top: 16px;
}


#back {
	left: -70px;
    background-position: 0px 0px;
    text-align: left;
}

#next {
	right: -70px;
	text-align: right;
    background-position: 0px 70px;
}

#back.disabled {
    background-position: 140px 0px;
}

#next.disabled {
    background-position: 140px 70px;
}

#back, #next {
	text-decoration: none;
}

#back div, #next div {
	color: rgba(0, 0, 0, 0);
    position: absolute;
    padding: 0 10px;
    overflow: visible;
    font-size: 18px;
    top: 20px;
    display: inline-block;
    white-space: nowrap;
    width: auto;
    z-index: -1;
    
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

#back div {
	float: left;
	left: 0px;
	text-align: left;
}

#next div {
    float: right;
    right: 0px;
    text-align: right;
}

#back:HOVER:not(.disabled) div {
    color: rgba(0, 175, 220, 1);
    background-color: rgba(255, 255, 255, 1);
    left: 70px;
}

#next:HOVER:not(.disabled) div {
    color: rgba(0, 175, 220, 1);
    right: 70px;
    background-color: rgba(255, 255, 255, 1);
}