.viewer-empty-container {
    width: 90%;
    position:absolute;
    height: 90%;
}

.viewer-empty-container-inner {
    text-align: center;
    height : 160px;
    position:absolute;
    top:50%;
    margin-top:-50px;
}

.viewer-empty-image {
	background-image:url(../../img/trash.svg) !important;
	width : 100px;
}


.jobs-empty-container {
    width: 90%;
    position:absolute;
    height: 90%;
}

.jobs-empty-container-inner {
    text-align: center;
    height : 160px;
    position:absolute;
    top:50%;
    margin-top:-50px;
}

.jobs-empty-image {
    background-image:url(../../img/alert.svg) !important;
    width : 100px;
}

.x-form-value-field {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 22px;
	font-weight: 700;
}

.x-form-value-field-uom {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font: normal 18px impact, sans-serif;
	color: #D05353;
}

.x-form-value-field-label {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font: normal 11px tahoma,arial,verdana,sans-serif;;
	text-align: center;
	color: black;
}

.x-form-image-field {
    text-align: center;
}