.viewport {
    overflow-y: auto;
    overflow-x: hidden;
}

.bhe-group rect:hover {
	fill: #ffffff;
}

.bhe-group text {
	font-size: 16.5px;
	font-weight: 700;
    font-family: "Helvetica Neue",Arial,Verdana,sans-serif;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.bhe-line {
	fill: none;
    stroke: black;
    stroke-width: 2.5px;
}

.bhe-legend {
	background-color: white;
	border: 1px;
	border-style: solid;
	border-color: black;
	padding: 5;
}

.bhe-legend.horizontal .bhe-legend-row {
	display: inline-block;
	margin-right: 10px;
}

.bhe-legend-row {
	padding-top: 2px;
	padding-bottom: 2px;
}

.bhe-legend-box {
    height: 16px;
    width: 16px;
    margin-right: 10px;
    display: inline-block;	
}

.bhe-legend-text {
	color: black;
	display: inline-block;
	position: relative;
    top: -2px;
}
